@import url('./Variables.css');

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-item, .confirm {
    background-color: var(--white);
    display: flex;
    width: 95%;
    max-width: 950px;
    border-radius: 30px;
    padding: 1.25rem;
    overflow: hidden;
    z-index: 3;
}

.card-left {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-left-inner {
    width: 75%;
}

.card-right {
    border-radius: 15px;
    flex: 4;
}

.card-right img {
    width: 100%;
    height: 100%;
}

.card-title, .card-label {
    color: var(--blue-800);
}

.card-title {
    font-size: 3rem;
    font-family: 'Roboto Bold', sans-serif;
}

.card-desc, .card-list {
    color: var(--blue-700);
}

.card-desc {
    margin-top: 1rem;
}

.card-list {
    list-style-type: none;
    margin-top: 1rem;
}

.card-list li {
    margin: 0.5rem 0;
}

.card-list li::before {
    content: "";
    background: url('/images/icon-list.svg') no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.card-label {
    font-weight: bold;
    display: block;
}

form {
    margin-top: 2.5rem;
    font-size: 0.75rem;
}

#emailInput {
    width: 100%;
    border-radius: 7px;
    background-color: var(--white);
    border: 1px solid #ccc;
    color: var(--blue-800);
    height: 40px;
    padding: 0 1rem;
    margin-top: 0.25rem;
}

#emailInput:focus {
    border-color: var(--blue-800);
}

#emailInput:-webkit-autofill {
    background-color: transparent !important; 
    color: var(--blue-800) !important; 
    -webkit-text-fill-color: var(--blue-800) !important;
    transition: background-color 5000s ease-in-out 0s;
}


#formBtn {
    margin-top: 1rem;
    width: 100%;
    height: 40px;
    background-color: var(--blue-800);
    border: 1px solid transparent;
    border-radius: 7px;
    font-family: 'Roboto Bold', sans-serif;
}

#formBtn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #FF527B 0%, hsl(4, 100%, 67%) 100%);
    box-shadow: 0 0 10px 0 hsl(4, 100%, 67%);
}

@media (max-width: 865px) {
    .card-item {
        flex-direction: column-reverse;
        padding: 0;
        width: 95%;
        max-width: 500px;
        max-height: 800px;
        margin: 5rem 0;
    }

    .card-right {
        border-radius: 15px;
        width: 100%;
    }

    .card-left {
        margin: 1rem auto 2rem
    }

    .card-left-inner {
        width: 90%;
    }
}

@media (max-width: 350px) {
    .card-title {
        font-size: 2.5rem;
    }
}