@import url('./Variables.css');

.confirm {
    flex-direction: column;
    padding: 3rem;
    max-width: 375px !important;
}

.confirm img {
    width: 50px;
}

.confirm h1 {
    color: var(--blue-800);
    margin: 2rem 0;
}

.confirm p {
    color: var(--blue-700);
}